.root {
  width: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 24px var(--page-spacing-horizontal);
  background: var(--background-color-base);
}

.header::after {
  --height: 1px;

  content: "";
  position: absolute;
  bottom: calc(-1 * var(--height));
  left: 0;
  right: 0;
  height: var(--height);
  background-color: var(--cover-color-weak);
}

.headerTitleGroup {
  margin-top: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerTitle {
  margin-left: 8px;
  line-height: var(--line-height-xxl);
  font-size: var(--font-size-xxl);
  font-weight: bold;
  text-align: center;
}

.headerSubtitleGroup {
  margin-top: 8px;
  color: var(--font-color-average);

  display: flex;
  align-items: center;
  justify-content: center;
}

.headerCredit {
  line-height: 24px;
  text-align: center;
}

.headerControlGroup {
  margin-top: 16px;
}

.headerSearchForm {
  line-height: var(--line-height-md);
  font-size: var(--font-size-md);

  display: flex;
}

.headerSearchInput {
  all: unset;

  flex: 1;
  height: 40px;
  padding: 0 16px;
  border-radius: var(--border-radius-md);
  box-shadow: 0 0 0 1px var(--cover-color-strong);
  background: var(--background-color-surface);
}

.headerSearchInput::placeholder {
  color: var(--font-color-weak);
}

.main {
  position: relative;
}

.entryList {
  padding-bottom: 120px;
}

.entryItem {
  --padding: 16px;

  position: relative;
  padding: var(--padding);

  display: flex;
  gap: 16px;
}

.entryItem::after {
  --height: 1px;

  content: "";
  position: absolute;
  bottom: calc(-1 * var(--height));
  left: var(--padding);
  right: 0;
  height: var(--height);
  background-color: var(--cover-color-weak);
}

.entryItemColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entryItemColumn:first-child {
  flex: 0;
}

.entryItemColumn:last-child {
  flex: 1;
}

.entryItemImageWrapper {
  --size: 96px;

  position: relative;
  height: var(--size);
  width: var(--size);
  border-radius: var(--border-radius-md);
  box-shadow: 0 0 0 1px var(--cover-color-strong);
}

.entryItemImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.entryItemImageButton {
  all: unset;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.entryItemTitlesWrapper {
  display: flex;
  gap: 6px;
}

.entryItemTitle {
  margin-top: -8px;
  line-height: var(--line-height-xl);
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.entryItemAltTitles {
  margin-top: 6px;
  line-height: var(--line-height-lg);
  font-size: var(--font-size-lg);
  color: var(--font-color-weak);
}

.entryItemDefinitionsWrapper {
}

.entryItemDefinitions {
  line-height: var(--line-height-md);
  font-size: var(--font-size-md);
  color: var(--font-color-weak);
}

.entryItemDefinitions strong {
  font-weight: normal;
  color: var(--font-color-strong);
}
